<u>Answer</u> <br>
What Traptor is in the <b>first</b> nest? Remember that it is a hatchling, then enter its full adoptable name.
For example, if it's Ancient, Volcano, and Dweller, you would enter <b>Traptor Hatchling (Mythical Ancient Volcano Dweller)</b>.
(Try typing your answer into the search bar before you submit to make sure it's a real adoptable name.) <br><br>

<u>Resources:</u> here is a blank grid for <a href="https://i.imgur.com/4Js5T3H.png">Mythical Traptors</a> and another for <a href="https://i.imgur.com/vQQVZNp.png">Tropical Traptors</a>. These may not have everything you need (if the puzzle inclues Smoothies or Bottlecaps), but it can still help you get started.
See my <a href="https://www.clickcritters.com/forum/view_topic.php?id=67840">tutorial</a> on the forums if you are new to these. <br><br>